body {
  font-family: "Raleway";
}
.coffeePlaces {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-block: 20px;
  }

  &-card {
    &-wrapper {
      margin-block: 20px;
      padding-inline: 0px !important;
      font-weight: 600;
      color: rgb(95, 132, 136);
    }
    &-wrapper:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out 10ms;
      z-index: 9;
    }
    &-reviews {
      margin-left: 5px;
      color: #bbc5c6 !important;
      font-weight: 400 !important;
      // opacity: 0.5;
    }
    &-img {
      border-radius: 35px;
    }
  }
}

.navbar {
  &-searchtabs {
    display: flex;
    justify-content: space-between;
  }
  &-righttabs svg {
    margin-inline: 5px;
  }

  &-righttabs-icons {
    display: flex;
  }

  &-container {
    padding-inline: 60px;
  }
}

.feather-star {
  margin-right: 5px;
}

.searchbar {
  width: 50%;
  display: flex !important;
  align-items: center;
}
